@import "scrollbar.css";
@import "spine-player_3.8.css";
:root {
    --white: #ECEFF1;
    --slate-gray: #263238;
    --dark-gray: #222d33;
    --light-green: #80CBC4;
    --dark-green: #4C7870;
    ;
}
html {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    height: 100%;
    margin: 0;
    background: var(--slate-gray);
}
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: var(--light-green);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
input[type=radio] {
    display: none;
}
li {
    list-style: none;
}
a {
    color: var(--light-green);
    text-decoration: inherit;
    font-size: 1.5em;
}
a:hover {
    color: var(--white);
}
#container {
    margin: 1em 0.5em 0em 1em;
    width: calc(80% - 1.5em);
    height: calc(100% - 2em);
    background: var(--dark-gray);
}
.panel-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: var(--dark-gray);
}
.panel-header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    padding: 0.5em 0;
}
.list-top {
    display: flex;
}
.panel-main {
    padding: 0 1em;
    margin: 1em 1em 0em 0.5em;
    width: calc(20% - 1.5em);
    height: calc(100% - 2em);
    box-sizing: border-box;
    overflow: auto;
    color: var(--dark-green);
    background: var(--dark-gray);
}
.view-mode {
    margin-left: auto;
}
.grid-item {
    width: calc(25% - 4px);
    ;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 2px;
}
.grid-item input {
    width: 100%;
    height: 100%;
}
.grid-item .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list-header, .list-main, .view-mode, #container-data .row-item {
    display: flex;
    padding: 2px;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
}
#row-item label {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1px;
    cursor: pointer;
}
.list-item:nth-child(0n+1) {
    flex: 8;
    padding: 2px;
}
/*
.list-item:nth-child(0n+2) {
    flex: 6;
    padding: 2px;
}*/

.list-item:nth-child(1n+2) {
    flex: 1;
    padding: 2px;
}
.list-item:hover {
    color: var(--light-green);
}
.list-item input[type=radio]:checked+span {
    color: var(--light-green);
}