/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: var(--dark-green) var(--dark-gray);
}
/* Chromium, Safari */

*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-track {
    background: var(--dark-gray);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 0px;
    border: 0px solid #ffffff;
}